.task-tile{
    background: white;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: left;
}

.taskTextContainer{
    margin-left: 1em;
}

.taskTitleContainer{
    padding-left: 1em;
    border-bottom: 1px solid black;
}

.taskTitleContainer h4 {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}